*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  color:#333;
  line-height: 1.6;
}
.container{
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}
.main {
  color:black;
}
ul{
  list-style: square;
  color:#ffc300 ;
}
a{
  color:#333;
  text-decoration: none;
}

.main .content h1{
  font-size: 55px;  
}

.main .content p{ 
  font-size: 20px;
  line-height: 1.2;
  
}
img{
  width: 100%;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top:0px;
  padding: 0 30px;
}
.navbar a{
  color:#fff;
  padding: 10px 20px;
  margin: 0 5px;
}
.navbar ul{
  display: flex;

}
.navbar a:hover ,.navbar a.current{
  
  color: blue;
}
.navbar span{
  color:blue;
}
.main{
  background: url("../img/business.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}
.main #content{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
/*icons class*/
.icons{
  padding: 30px;
}
.items1 h2{
  font-weight: bold;
  margin-bottom: 15px;
}
.items1 i{
  background-color:#ffc300;
  color: #fff;
  padding: 2rem;
  border-radius: 50%;
  margin-bottom: 15px;
  font-size: 50px;
}
.items1 i:hover ,.items1 i.current{
  
  background-color:#fff;
  border:100%;
  border-color: black;
  color: #ffc300;
  border-style: solid;
  border-width: thin;
  border-color:black;
}
.items1 h2{
  color: black;
  font-size: 16px;
}
.items1 p{
  padding-bottom: 20px;
}
#works .flex-items{
  display: flex;
  padding: 1rem;
}
#works .flex-items .items1{
  flex: 1;
  text-align: center;
  padding: 1rem;
}
