.main::before {
    content: '';
    position: absolute;
    width: 100%;
    background: rgb(43, 37, 37);
    opacity: 0.6;
    margin-top: 190px;
    height: 240px;
}

.main * {
    z-index: 10;
}

.btn{
    color: black;
    background-color:#ffc300;
    padding: 10px 30px;
    display: inline-block;
    font-weight: bold;
    margin: 20px;
    
}
.btn-1{
    background-color: #fff;
    color: black;
    border: 2px solid #ffc300;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 12px;   
}
.item-2 .btn-left  {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content:space-evenly;
    color: #fff;
    text-align: center;
    height: 7%;
    left: 0;
   position: absolute;
   background-color: #ffc300;
  }
  .btn_icon {
    color: white;
    background-color: #ffc300;
    
}
.item-2 .btn-right  {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content:space-evenly;
    text-align: center;
    color: #ffc300;
    height: 7%;
    right: 0;
    position: absolute;
    background-color: #ffc300;
    height: 7%;
  }
.text-center{
    text-align: center;
}
#works h1{
     text-align: center;
     }
#works h1::after{
    content: '';
    background: #ffc300;
    display: block;
    height: 3px;
    width:170px;
    margin: 20px auto 5px;
}
#works p{
    text-align: center;
    color: black;
}
#pic {
  background: url("../img/test-bg.jpg")no-repeat  center center/cover;
  position: center;
  opacity: 0.8;
  width:100%;
  display:block;

}
#print{
    display: flex;
   /*flex-wrap: wrap;*/
   margin: 20px;
  justify-content: space-between;
}
.print1{
    margin-right:30px;
    text-align: left;
    
}
.print1 img{
    height: 250px;
    width: 250px;
    margin-left: 60px;
    margin-right: 10px;
    
}
.prints{
    justify-content: flex-start;
   /* align-items: center;*/
    flex-direction: column;
    padding-left: 10px;

}
.prints  h1{
    color: #fff;
   text-align: left;
   justify-content: right; 
   padding-top: 40px;
}
.prints p{
    padding-top: 20px;
    color:#fff;
    text-align: left;
    justify-content: right;
    margin-bottom: 30px;
}
#pic .btn-2{
    background: #333;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 10px;
    border-radius: 5px;
    border: 2px solid #ffc300;
}
/* Section: Clients */
#clients .items {
    display: flex;
}
#clients p{
    text-align: center;
    color: black;
    padding-top: 5px;
}
.client-three {
    color: #fff;
    
    flex-direction: row;
    text-align: center;

}
.client-three a{
    background-color: #ffc300;
    color: #fff;
    justify-content: space-between;
    text-align: center;
    margin-right: 20px;
    
    
}

#clients .items img {
    display: block;
    margin: auto;
    width: 15%;
}
.quotes-text  {
    background: black;
    text-align: center;
    color:#fff;
    padding:10px ;
    height: 40vh;;

}
.quotes-text p{
    color:#fff;
    margin-top: 20px;
}
.bottom-line h6{
height: 10px;
width: 10px;
color:#fff;
border-radius: 50%;
display: inline-block;
}
#contact{
    height: 100%;
}
.text-center p::after{
    content: '';
    background: #ffc300;
    display: block;
    height: 3px;
    width:170px;
    margin: 20px auto 5px;

}
.m-heading {
    text-align: center;
    color:#444;
    margin-top: 30px;
}
.m-heading::after{
content: '';
background: #ffc300;
display: block;
height: 3px;
width:170px;
margin: 20px auto 5px;
margin-bottom: 30px;
}
.text-center4 p{
    text-align: center;
    color: black;
    padding-top: 5px;
    margin-bottom: 30px;
}
#clients h2::after{
    content: '';
    background: #ffc300;
    display: block;
    height: 3px;
    width:170px;
    margin: 20px auto 5px;
}
/* Section: contact us */
#contact .items {
    display: flex;
    padding: 1rem;
}

#contact .items .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#contact .items .item i {
    color: yellow;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Section:send us a message */
.message {
    height: 30rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgb(17, 23, 27);
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.message p {
    color: rgb(190, 189, 189);
    font-weight: bold;
}

.message h1 {
    padding-top: 3rem;
}

input {
    width: 18rem;
    height: 2.5rem;
    border: #fff solid 0.5px;
    background: rgb(17, 23, 27);
    padding-left: 1rem;
}

.txtarea {
    width: 55rem;
    height: 10rem;
}

#submit {
    height: 3rem;
    width: 8rem;
    padding: 2px;
    font-weight: bold;
    font-size: 12px;   
    border: none;
}
.footer {
    background: black;
    height: 8rem;
    text-align: center;
    color: #fff;
}
.footer p span{
    color:#ffc300;
}


.footer i{
    color: #fff;
    padding: 0.5rem;
}

.social {
    margin-top: 10px;
   
    
}
.tp{
    background-color: #ffc300;
    padding: 5px;
}
@media(max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px 0;
        /* position: fixed; */
    }

    .navbar a {
        padding: 10px 10px;
        margin: 0 3px;
    }

    .flex-items{
        flex-direction: column;
    }

    .flex-item {
        flex-direction: column;
    }


    .client-two {
        flex-direction: column;
    }

    .client-one {
        align-items: center;
        padding: 0;
    }

    .txtarea {
        width: 10rem;
    }
    .flex-col{
        text-align: center;
        /* align-items: center; */
    }
    .flex-col p {
        text-align: center;
        /* align-items: center; */
    }

}